h1 
{
    color: rgb(30, 30, 202);;
    text-align: center;
}
h2 
{
    color: rgb(30, 30, 202);;
    text-align: center;
}
body 
{
    background-color: rgb(170, 168, 168);
    color: #1C1CBA;
    font-size: 20px;
}
nav 
{
    color: #1C1CBA;
    text-align: center;
    font-size: 24px;
}
a 
{
    text-decoration: none;
    color: green;
}
footer
{
    color: #1C1CBA;
    text-align: center;
    font-size: 16px;
}
p
{
    margin-left: 20px;
}
.picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3
{
    text-align: center;
}
td, th, table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.total
{
    text-align: right;
}
form
{
    margin-left: 30%;
}
header 
{
    background-color: #FFFDB8;
    margin: 0 15% 0 15%;
}
.center
{
    margin-left: 45%;
}
.button
{
    background-color: #1C1CBA;
	border: none;
	color: white;
	padding: 12px 25px 12px 25px;
}
.calculator{
    margin-left: 30%;
    margin-right: 35%;
    padding: 1% 5% 1% 5%;
    background-color: #FFFDB8;
}
.calcbutton
{
    background-color: #1C1CBA;
    border: none;
    color: white;
    margin-top: 5px;
    padding: 12px 25px 12px 25px;
}
div p{
    background-color: #1C1CBA;
    margin: 5px 75px 5px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
}
